<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <% if user_signed_in? %>
            <h1>Bem vindo ao caixa eletrônico <%= current_user.name %></h1>
            <div style="margin: auto; width: 300px !important;">
                <p>Utilize o menu para navegar.</p>
            <% else %>
            <h1>Bem vindo ao caixa eletrônico</h1>
            <div style="margin: auto; width: 300px !important;">
                <%= link_to '<button style="float: left;">Depositar</button>'.html_safe,  deposit_path %>
                <%= link_to '<button>Logar</button>'.html_safe, new_user_session_path %>
                <%= link_to '<button style="float: right;">Cadastrar</button>'.html_safe,  new_user_registration_path %>
            <% end %>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
