<h1>Solicitar saldo</h1>

<script type="text/javascript">
  $(document).ready(function(){

    $('.date').mask('99/99/9999');

    jQuery.extend(jQuery.validator.messages, {
      date: "Entre com uma data válida"
    });

    $("#form_extract").validate({
      rules: {
        "account_id[0]": {
          required: true
        }
      },
      messages: {
        "account_id[0]": {
          required: "Campo obrigatório"
        }
      },
      errorPlacement: function(error, element) {
        offset = element.offset();
        error.insertAfter(element.parent());
        error.addClass("validationError");
      }
    });
  });
</script>

<%= form_tag balance_path , :id => 'form_balance', method: :post do %>

  <div class="field">
    <label>Conta</label>
    <p><%= collection_select(:account_id, 0, Account.where(:user_id => current_user.id, :status => "Ativa"), :id, :number, prompt: "Selecione a conta", :class => "js-bal-acc" ) %></p>
  </div>

  <div class="field">
    <button type="submit" value="Solicitar" class="acao">Solicitar</button>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
