<h1>Solicitar extrato</h1>

<%= form_tag extract_path, method: :post do %>

  <div class="field">
    <label>Data inicial</label>
    <p><input type="text" name="data_ini" autocomplete="off"></p>
  </div>

  <div class="field">
    <label>Data final</label>
    <p><input type="text" name="data_fin" autocomplete="off"></p>
  </div>

  <div class="field">
    <label>Conta</label>
    <p><%= collection_select(:account_id, 0, Account.where(:users_id => current_user.id, :status => "Ativa"), :id, :number, prompt: "Selecione a conta") %></p>
  </div>

  <div class="field">
    <button type="submit" value="Solicitar">Solicitar</button>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
