<h1>Solicitar extrato</h1>

<script type="text/javascript">
  $(document).ready(function() {

    $(".date").mask("99/99/9999");

    $.validator.addMethod(
      "date",
      function(value, element) {
           var check = false;
           var re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
           if( re.test(value)){
                var adata = value.split('/');
                var gg = parseInt(adata[0],10);
                var mm = parseInt(adata[1],10);
                var aaaa = parseInt(adata[2],10);
                var xdata = new Date(aaaa,mm-1,gg);
                if ( ( xdata.getFullYear() == aaaa ) && ( xdata.getMonth () == mm - 1 ) && ( xdata.getDate() == gg ) )
                     check = true;
                else
                     check = false;
           } else
                check = false;
           return this.optional(element) || check;
      },
      "Insira uma data válida"
 );

    $("#form_extract").validate({
      rules: {
        data_ini: {
          required: true,
          date: true
        },
        data_fin: {
          required: true,
          date: true
        },
        "account_id[0]": {
          required: true
        }
      },
      messages: {
        data_ini: {
          required: "Campo obrigatório",
          date: "Data inválida"
        },
        data_fin: {
          required: "Campo obrigatório",
          date: "Data inválida"
          // greaterThan: "Deve ser maior que data inicial",
        },
        "account_id[0]": {
          required: "Campo obrigatório"
        }
      },
      errorPlacement: function(error, element) {
        offset = element.offset();
        error.insertAfter(element.parent());
        error.addClass("validationError");
      }
    });
  });
</script>

<%= form_tag extract_path, :id => 'form_extract', method: :post do %>

  <div class="field">
    <label>Conta</label>
    <p><%= collection_select(:account_id, 0, Account.where(:user_id => current_user.id, :status => "Ativa"), :id, :number, prompt: "Selecione a conta") %></p>
  </div>

  <div class="field">
    <label>Data inicial</label>
    <p><input class="js-ini" type="text" class="date" name="data_ini" autocomplete="off"></p>
  </div>

  <div class="field">
    <label>Data final</label>
    <p><input class="js-fin" type="text" class="date" name="data_fin" autocomplete="off"></p>
  </div>

  <div class="field">
    <button type="submit" value="Solicitar" class="acao">Solicitar</button>
  </div>

<% end %>

<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
