// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  color: #FFF;
  background-color: #333333;
  border: medium none;
  padding: 7px;
  border-radius: 7px;
}

button:hover {
  color: #EEE;
}
