/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 130px !important;
  background: #333333;
  height: 120%;
}

.topbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: #333333;
  padding-top: 15px;
}

.topbar-visitor {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: #333333;
  padding: 15px 0px 0px 15px;
}

.fullpage {
  height: 100% !important;
}

tr > th, tr > td {
  text-align: center !important;
  width: 110px !important;
  padding: 10px !important;
}

.botao {
  margin-top: -2px !important;
}

.menu {
  cursor: default;
  font-size: 17px;
  font-weight: 500px;
}

.menu:hover {
  color: #FFF !important;
}

span {
  color: #FFF;
  padding: 0px 20px;
}

span > a {
  color: #FFF !important;
  text-decoration: none;
}

span > a:hover, span > a:focus {
  color: #FFF !important;
  background: #333333;
  text-decoration: none;
}

a:hover {
  color: #FFF !important;
}

ul {
  width: 130px !important;
}

li {
  width: 130px !important;
  word-wrap: break-word;
}

li > a {
  color: #FFF !important;
}

li > a:hover, li > a:focus {
  background: #333333 !important;
  color: #000 !important;
}

form {
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding-top: 15px;
}

.acao {
  padding: 5px;
  color: #FFF;
  background: #333333;
  border-radius: 6px;
  border-style: none;
  margin-top: 8px;
}

button {
  padding: 5px;
  color: #FFF;
  background: #333333;
  border-radius: 6px;
  border-style: none;
  margin-top: 12px;
}

button:hover {
  color: #EEE;
}

h1 {
  margin-top: 35px;
  margin-bottom: 30px;
}

.validationError {
  color: red;
}

.deposito {
  color: green;
}

.debito {
  color: red;
}

.transf {
  color: orange;
}

