<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Cliente:</strong>
  <%= current_user.name %>
</p> -->

<p>
  <strong>Numero:</strong>

</p>

<p>
  <strong>Saldo:</strong>

</p>

<p>
  <strong>Status:</strong>

</p>

<%= link_to '<button>Editar</button>'.html_safe, edit_account_path(@account) %> |
<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
